
     *{
        background-color: rgb(255, 127, 127);
        background-image: url();
     }
     h1{
background-color: brown;
color: black;
padding: 2cm;
margin: 3cm;
text-align: center;
     }
     p{
        background-color: rgb(151, 31, 31);
     }
     .p1{
        color: blue;
     }
     .p2{
        color: blueviolet;
     }
     #p2{
        color: black;
     }
